In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Provideniya,RU,2021-05-22 22:57:02,64.3833,-173.3000,37.08,77,94,5.44
1,1,Najran,SA,2021-05-22 22:57:03,17.4924,44.1277,77.65,35,1,4.92
2,2,Puerto Ayora,EC,2021-05-22 22:57:03,-0.7393,-90.3518,84.16,85,68,5.99
3,3,Lebu,CL,2021-05-22 22:57:04,-37.6167,-73.6500,51.35,90,11,7.99
4,4,Ouadda,CF,2021-05-22 22:57:04,8.0777,22.4007,68.92,94,17,3.80

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=1500, point_radius=10)
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [32]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 78

In [33]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Najran,SA,2021-05-22 22:57:03,17.4924,44.1277,77.65,35,1,4.92
21,21,Waingapu,ID,2021-05-22 22:57:09,-9.6567,120.2641,76.03,83,18,5.46
35,35,Rikitea,PF,2021-05-22 22:57:13,-23.1203,-134.9692,76.50,67,3,12.77
43,43,Sao Joao Da Barra,BR,2021-05-22 22:57:15,-21.6403,-41.0511,75.63,82,100,9.33
53,53,Omboue,GA,2021-05-22 22:57:17,-1.5746,9.2618,76.51,90,77,4.00
73,73,Sorong,ID,2021-05-22 22:57:23,-0.8833,131.2500,77.38,89,74,2.77
88,88,Galesburg,US,2021-05-22 22:57:27,40.9478,-90.3712,75.97,74,90,3.00
109,109,Vaini,TO,2021-05-22 22:57:33,-21.2000,-175.2000,77.16,94,75,4.61
121,121,Lumut,MY,2021-05-22 22:57:36,4.2323,100.6298,75.56,94,20,0.00
136,136,Padang,ID,2021-05-22 22:55:26,-0.9492,100.3543,76.60,86,85,3.96

In [16]:
preferred_cities_df.notnull().sum()

City_ID       195
City          195
Country       195
Date          195
Lat           195
Lng           195
Max Temp      195
Humidity      195
Cloudiness    195
Wind Speed    195
dtype: int64

In [17]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp      Lat       Lng Hotel Name
1         Najran      SA     77.65  17.4924   44.1277
2   Puerto Ayora      EC     84.16  -0.7393  -90.3518
16         Tabou      CI     80.10   4.4230   -7.3528
17        Barmer      IN     82.54  25.7500   71.3833
19         Buala      SB     83.50  -8.1450  159.5921
21      Waingapu      ID     76.03  -9.6567  120.2641
23  San Patricio      US     83.05  28.0170  -97.5169
27        Bethel      US     84.07  41.3712  -73.4140
31       Grafton      US     82.45  42.2070  -71.6856
32        Pandan      PH     80.92  14.0453  124.1694

In [23]:
params = {
    "radius": 5000,
    "types": "lodging",
    "key": g_key,
    "location": "48.8566, 2.3522"}
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [26]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Najran,SA,77.65,17.4924,44.1277,محمد هادي ال فطيح
2,Puerto Ayora,EC,84.16,-0.7393,-90.3518,Finch Bay Galapagos Hotel
16,Tabou,CI,80.10,4.4230,-7.3528,hotêl doufoulougou
17,Barmer,IN,82.54,25.7500,71.3833,OYO 71911 Hotel Amber Palace
19,Buala,SB,83.50,-8.1450,159.5921,Maringe Lagoon Lodge
21,Waingapu,ID,76.03,-9.6567,120.2641,Pondok Wisata Elim
23,San Patricio,US,83.05,28.0170,-97.5169,"Motel 6 Sinton, TX"
27,Bethel,US,84.07,41.3712,-73.4140,Courtyard by Marriott Danbury
31,Grafton,US,82.45,42.2070,-71.6856,The Grafton Inn
32,Pandan,PH,80.92,14.0453,124.1694,Bonifacio Lodge

In [31]:
# Store the DataFrame Row.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content = hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))